.vscode
smartcalc/target
/target
/clippy_result.txt
/Cargo.lock
/.idea
.cargo-lock
Cargo.lock
city_informations.json
package-lock.json
assets/www/dist/
assets/www/node_modules/
assets/www/smartcalc-*
